.imagem-header {
    width: 340px;
}

nav {
    justify-content: space-between;
}

#navbar_lista {
    font-weight: 600;
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
}


#fundo_header {
    width: 100%;
}

#mobile-button {
    display: flex;
}

.navbar-link {
    padding: 5px;
    text-align: right;
}

.navbar-links {
    padding: 4px;

}
